In [31]:
import joblib;
import pandas as pd

df = pd.read_csv("/Users/harshbhalwar/Documents/crime_dataset_india.csv")

In [25]:
model = joblib.load("random_forest.pkl")
print("Model loaded successfully")

Model loaded successfully

In [42]:
xgmodel = joblib.load("xgModel.pkl")
print("XGModel is successfully loaded")

XGModel is successfully loaded

In [35]:
unique_crimes = df["Crime Description"].unique()

no_of_unique_crimes = len(unique_crimes)
print(unique_crimes)
print(no_of_unique_crimes)

['IDENTITY THEFT' 'HOMICIDE' 'KIDNAPPING' 'BURGLARY' 'VANDALISM' 'ASSAULT'
 'VEHICLE - STOLEN' 'COUNTERFEITING' 'EXTORTION' 'PUBLIC INTOXICATION'
 'FRAUD' 'SEXUAL ASSAULT' 'DRUG OFFENSE' 'ARSON' 'CYBERCRIME'
 'TRAFFIC VIOLATION' 'SHOPLIFTING' 'ILLEGAL POSSESSION' 'FIREARM OFFENSE'
 'ROBBERY' 'DOMESTIC VIOLENCE']
21

In [36]:
detailed_crime_mapping = {
    "HOMICIDE": ["HOMICIDE"],
    "KIDNAPPING": ["KIDNAPPING"],
    "IDENTITY THEFT": ["IDENTITY THEFT"],
    "BURGLARY": ["BURGLARY"],
    "VANDALISM": ["VANDALISM"],
    "ASSAULT": ["ASSAULT", "SEXUAL ASSAULT"],
    "VEHICLE THEFT": ["VEHICLE - STOLEN"],
    "COUNTERFEITING": ["COUNTERFEITING"],
    "EXTORTION": ["EXTORTION"],
    "PUBLIC DISORDER": ["PUBLIC INTOXICATION"],
    "FRAUD": ["FRAUD"],
    "DRUG OFFENSE": ["DRUG OFFENSE"],
    "ARSON": ["ARSON"],
    "CYBERCRIME": ["CYBERCRIME"],
    "TRAFFIC VIOLATION": ["TRAFFIC VIOLATION"],
    "SHOPLIFTING": ["SHOPLIFTING"],
    "ILLEGAL POSSESSION": ["ILLEGAL POSSESSION"],
    "FIREARM OFFENSE": ["FIREARM OFFENSE"],
    "ROBBERY": ["ROBBERY"]
}

def categorize_crimes(description):
    for category, keywords in detailed_crime_mapping.items():
        if description in keywords:
            return category
    return 'OTHER'

df["Crime Category"] = df["Crime Description"].apply(categorize_crimes)

df[["City", "Crime Description", "Crime Category"]].head(20)

             City    Crime Description   Crime Category
0       Ahmedabad       IDENTITY THEFT   IDENTITY THEFT
1         Chennai             HOMICIDE         HOMICIDE
2        Ludhiana           KIDNAPPING       KIDNAPPING
3            Pune             BURGLARY         BURGLARY
4            Pune            VANDALISM        VANDALISM
5           Delhi              ASSAULT          ASSAULT
6         Chennai     VEHICLE - STOLEN    VEHICLE THEFT
7         Chennai       COUNTERFEITING   COUNTERFEITING
8          Mumbai            EXTORTION        EXTORTION
9         Chennai  PUBLIC INTOXICATION  PUBLIC DISORDER
10          Delhi                FRAUD            FRAUD
11          Surat       IDENTITY THEFT   IDENTITY THEFT
12  Visakhapatnam                FRAUD            FRAUD
13         Mumbai              ASSAULT          ASSAULT
14      Bangalore       SEXUAL ASSAULT          ASSAULT
15        Kolkata       COUNTERFEITING   COUNTERFEITING
16      Ghaziabad         DRUG OFFENSE     DRUG OFFENSE
17           Pune                ARSON            ARSON
18      Bangalore           CYBERCRIME       CYBERCRIME
19      Bangalore            EXTORTION        EXTORTION

In [37]:
crime_pivot  = df.pivot_table(index="City", columns="Crime Category", aggfunc="size", fill_value=0)

crime_pivot.reset_index(inplace=True)

crime_pivot.head(10)

Crime Category,City,ARSON,ASSAULT,BURGLARY,COUNTERFEITING,CYBERCRIME,DRUG OFFENSE,EXTORTION,FIREARM OFFENSE,FRAUD,...,IDENTITY THEFT,ILLEGAL POSSESSION,KIDNAPPING,OTHER,PUBLIC DISORDER,ROBBERY,SHOPLIFTING,TRAFFIC VIOLATION,VANDALISM,VEHICLE THEFT
0,Agra,43,77,32,40,32,31,39,40,33,...,37,30,38,38,43,40,37,33,33,36
1,Ahmedabad,80,205,94,84,87,82,83,88,85,...,83,89,86,102,82,94,85,81,76,75
2,Bangalore,154,331,187,176,155,168,188,164,152,...,177,176,168,171,198,167,167,166,179,162
3,Bhopal,38,71,23,29,31,30,26,28,38,...,35,33,42,34,41,28,35,31,33,29
4,Chennai,138,227,134,115,117,103,122,122,114,...,128,107,135,97,107,108,116,110,124,131
5,Delhi,227,485,254,254,286,278,246,291,281,...,272,250,260,275,246,280,244,198,256,247
6,Faridabad,19,39,11,14,13,12,13,17,11,...,25,18,21,20,18,18,16,18,22,14
7,Ghaziabad,35,63,37,32,27,40,32,24,34,...,33,33,36,40,40,41,27,42,31,29
8,Hyderabad,152,250,140,136,139,134,124,138,126,...,159,142,126,143,143,138,120,135,131,165
9,Indore,28,69,31,32,34,34,39,45,33,...,34,29,30,33,26,41,30,32,28,37

In [38]:
city_population = {
    'Agra' : 1585704,
    'Ahmedabad'  : 5570585, 
    'Bangalore' :8443675 , 
    'Bhopal' : 1798218, 
    'Chennai' : 7088000, 
    'Delhi' : 16787941, 
    'Faridabad' :1404653 , 
    'Ghaziabad' : 2358525, 
    'Hyderabad' :6809970 , 
    'Indore' : 1994397, 
    'Jaipur' : 3046163, 
    'Kalyan' : 1247327, 
    'Kanpur' : 2767031, 
    'Kolkata' : 4496694, 
    'Lucknow' : 2817105, 
    'Ludhiana' :1618879 , 
    'Meerut' : 1305429, 
    'Mumbai' : 12442373, 
    'Nagpur' : 2405665, 
    'Nashik' : 1486053, 
    'Patna' : 1684222, 
    'Pune' : 3124458, 
    'Rajkot' : 1390640,
    'Srinagar' : 1180570, 
    'Surat' : 4467797, 
    'Thane' : 1841488, 
    'Varanasi' :1198491 , 
    'Vasai' : 1958000, 
    'Visakhapatnam' :1728128 
}

city_unemployment_rate = {
    'Agra': 5.5,
    'Ahmedabad': 6.4,
    'Bangalore': 1.8,
    'Bhopal': 0.1,
    'Chennai': 3.0, 
    'Delhi': 2.1,
    'Faridabad': 3.0,
    'Ghaziabad': 3.0,
    'Hyderabad': 7.1,
    'Indore': 0.8,
    'Jaipur': 4.7,
    'Kalyan': 3.0,
    'Kanpur': 7.7,
    'Kolkata': 4.14,
    'Lucknow': 3.0,
    'Ludhiana': 6.3,
    'Meerut': 3.9,
    'Mumbai': 3.0,
    'Nagpur': 3.0,
    'Nashik': 3.0,
    'Patna': 13.2,
    'Pune': 3.0,
    'Rajkot': 3.0,
    'Srinagar': 3.0,
    'Surat': 0.6,
    'Thane': 3.0,
    'Varanasi': 3.0,
    'Vasai': 3.0,
    'Visakhapatnam': 3.0
}

city_literacy_rate = {
    'Agra' : 73.11,
    'Ahmedabad'  : 89.62, 
    'Bangalore' : 88.71, 
    'Bhopal' :85.24 , 
    'Chennai' : 90.33, 
    'Delhi' : 86.21, 
    'Faridabad' : 83.04, 
    'Ghaziabad' : 78.07, 
    'Hyderabad' : 83.26, 
    'Indore' : 82.32, 
    'Jaipur' : 84.34, 
    'Kalyan' : 89.41, 
    'Kanpur' : 79.65, 
    'Kolkata' : 87.14, 
    'Lucknow' : 84.72, 
    'Ludhiana' : 85.38, 
    'Meerut' : 76.28, 
    'Mumbai' : 90.28, 
    'Nagpur' : 91.92, 
    'Nashik' : 89.85, 
    'Patna' : 83.37, 
    'Pune' : 91.61, 
    'Rajkot' : 86.11, 
    'Srinagar' : 70.98, 
    'Surat' : 86.65, 
    'Thane' : 89.41, 
    'Varanasi' : 80.12, 
    'Vasai' : 85.00, 
    'Visakhapatnam' :81.79 
}

crime_pivot['Population'] = crime_pivot['City'].map(city_population)
crime_pivot['Unemployment Rate'] = crime_pivot['City'].map(city_unemployment_rate)
crime_pivot['Literacy Rate'] = crime_pivot['City'].map(city_literacy_rate)

In [39]:
# Calculate Crime Rate

crime_columns = ['ARSON', 'ASSAULT', 'BURGLARY', 'COUNTERFEITING', 'CYBERCRIME',
                 'DRUG OFFENSE', 'EXTORTION', 'FIREARM OFFENSE', 'FRAUD', 'OTHER',
                 'PUBLIC DISORDER', 'ROBBERY', 'SHOPLIFTING', 'TRAFFIC VIOLATION',
                 'VANDALISM', 'VEHICLE THEFT']

crime_pivot['Total Crimes'] = crime_pivot[crime_columns].sum(axis=1)
crime_pivot['Crime Rate'] = (crime_pivot['Total Crimes'] / crime_pivot['Population']) * 100000

In [40]:
from sklearn.preprocessing import OneHotEncoder

# Step 2: Encode city using OneHotEncoder
encoder = OneHotEncoder(sparse_output=False)
encoded_city = encoder.fit_transform(crime_pivot[['City']])
city_columns = encoder.get_feature_names_out(['City'])

# Create new dataframe with encoded city columns
df_encoded = pd.concat([pd.DataFrame(encoded_city, columns=city_columns), crime_pivot], axis=1)

# Drop non-numeric columns and redundant ones
df_encoded.drop(['City', 'Total Crimes'], axis=1, inplace=True)

# Step 3: Split data into training and testing sets
X = df_encoded.drop(['Crime Rate'], axis=1).values

In [41]:
pred = model.predict(X)
print(pred)

[34.59214123 30.32953215 31.84413508 29.90889936 29.65343732 27.53333075
 21.5333867  26.87446686 33.43782284 30.97454863 38.45813862 23.92290876
 36.6679462  37.42405093 38.75861108 35.61582094 25.91900144 28.76496184
 34.46249161 21.73508481 32.86767819 34.18435542 22.273389   24.8663407
 25.72734841 29.28564384 23.90775521 23.04203148 32.33875242]

In [43]:
pred1 = xgmodel.predict(X)
print(pred1)

[34.172874 28.934597 31.494572 30.171934 28.98146  27.881638 25.857449
 26.277943 30.44294  29.958157 35.9912   26.185356 35.287037 36.053303
 36.03143  35.276886 26.368113 28.971313 34.129925 25.857449 32.353207
 34.449566 26.058784 27.204842 26.857702 30.74193  26.185356 26.225409
 32.438206]